.person
{
	background-image: url("../img/person.png");
	width: 57px;
	height: 190px;
	margin-left: 42px;
}

.person.hover
{
	background: url("../img/person.png") -57px 0px no-repeat;
}

.place
{
	background-image: url("../img/place.png");
	width: 146px;
	height: 162px;
}

.place.hover
{
	background: url("../img/place.png") -146px 0px no-repeat;
}

.entity_container
{
  text-align: center;
}